.pagination {
  padding-bottom: 20px;
} 

  .pagination_heading {
    font-size: 14px;
    color: #FFFFFF;
  }
  .paginateLinks_container {
    display: flex;
    gap: 16px;
  }
  .paginateLinks {
    display: flex;
    font-size: 16px;
    padding: 3px 8px;
    background: #223531;
    color: #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
  }