.blogPostContainer {
  display: grid;
  flex-direction: column;
  color: #f3ebeb;
}
.blogPostContainer svg {
  margin-left: 8;
  transition: all ease 500ms;
}

.blogPostContainer h5 {
  color: #f3ebeb;
}

.blogPostContainer svg:hover {
  margin-left: 16px;
}

.blogPostImage {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 20px;
}

.blogDate {
  font-size: 14px;
}
.blogPostDescription {
  font-size: 15px;
}

.blogPostTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #f3ebeb;
}
