.ContactPageContainer {
  display: grid;
  padding-top: 40px;
  grid-template-columns: 1fr;
}

@media all and (min-width: 960px) {
  .ContactPageContainer {
    padding-top: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.smallText {
  font-size: 14px;
  color: #787878;
  padding: 20px 0;
}

.email {
  display: block;
  font-size: 16px;
  color: #787878;
  text-decoration: none;
  padding-bottom: 20px;
}

@media all and (min-width: 960px) {
  .email {
    font-size: 18px;
    padding-bottom: 0;
  }
}
