.blogPostTitle {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media all and (min-width: 960px) {
  .blogPostTitle {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.scrollToTop {
  cursor: pointer;
  margin-top: 5rem;
  background-color: #787878;
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  padding: 0.5rem 10px;
}
