.tagsfilter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.tagsfilter h3 {
  color: #ffffff;
  font-weight: 400;
}
.tagButton {
  border: none;
  outline: none;
  background: #223531;
  color: #f3ebeb;
  padding: 6px 8px;
  border-radius: 10px;
  cursor: pointer;
}
.selected {
  background: #384b47;
  font-weight: 600;
}

@media all and (min-width: 960px) {
  .tagsfilter {
    margin-top: 100px;
  }
}
