.aboutContainer {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ffffff;
}

.aboutSpan {
  font-weight: 600;
}

@media all and (min-width: 960px) {
  .aboutContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.aboutMeContainer {
  display: flex;
  flex-direction: column-reverse;
}

@media all and (min-width: 960px) {
  .aboutMeContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.aboutMeTextWrapper p {
  font-size: 16px;
}

@media all and (min-width: 960px) {
  .aboutMeTextWrapper {
    padding-right: 120px;
  }
}

.aboutMeImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 40px;
}

@media all and (min-width: 960px) {
  .aboutMeImage {
    width: 256px;
    max-width: 100%;
    height: 320px;
    border-radius: 4px;
    margin: initial;
  }
}

.checkOutCV {
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  color: #ffffff;
  background: #223531;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: all ease 500ms;
}

.checkOutCV:hover {
  background: #384b47;
}

.skills {
  background: #787878;
  font-weight: 500;
  color: #ffffff;
  padding: 2px 2px;
  border-radius: 2px;
}
